.form-container{
    padding-top: 1rem;
    
}
#reused_form{
position: relative;
margin: 50px auto;
}
input{
    font-size: .85rem;
    width: 28rem;
    height: 3rem;
    padding: 0px .9rem ;
    background: map-get($map: $colors, $key:color12);
    outline: none;
    color: map-get($map: $colors, $key:color8);
    border: solid 1px  map-get($map: $colors, $key:color6);
    border-bottom: none;
}
textarea {
    width: 28rem;
    height: 8rem;
    padding: 15px;
    background:map-get($map: $colors, $key:color12);
    color: map-get($map: $colors, $key:color8);
    border: solid 1px map-get($map: $colors, $key:color6);
}
input::placeholder, textarea::placeholder, input:focus::placeholder, textarea:focus::placeholder{
    color:  map-get($map: $colors, $key:color8); 
}
input:hover::placeholder, textarea:hover::placeholder, input:hover:focus::placeholder, textarea:hover::placeholder{
    color: map-get($map: $colors, $key:color8);
}
.form-button{
    background: map-get($map: $colors, $key:color12);
    border: solid 1px map-get($map: $colors, $key:color6);
    padding: 1.5rem 2rem;
    margin: 2.5rem 0 -20px 0;
    color: #ffffff;
}
.form-container h4 {
    font-size: 2rem;
}
#error_message {
    color: red;
    border: 1px solid red;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 0 5px red;
    width: 30rem;
}
#success_message{
    margin: auto;
    color:map-get($map: $colors, $key:color8);
    width: 10rem ;
    
}
.arrow{
    padding-top: 3rem;
    animation: arrow linear 1.5s ;
    animation-iteration-count: infinite;
}
@keyframes arrow {
    0%{
        transform: translateY(0px);
}
38%{
    transform: translateY(12px);
}

}

.arrow a {
    font-size: 3rem;
    border: none;
    color: map-get($map: $colors, $key:color6);
}

.arrow:hover i {
    transform: scale(1.3);
    transition: .5s ease-in-out;
    color:  map-get($map: $colors, $key:color6);
}
footer p {
    letter-spacing: .3rem;
    padding-top: 1.5rem;
}
footer p{
    color:  map-get($map: $colors, $key:color6);
}