#other-skills{
    margin-top: 5rem !important;
    padding: 1rem 6rem 15rem 8rem;
    width:100%;
    background-color:map-get($map: $colors, $key: color10);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    text-align: center;
    height: auto;
}
#other-skills h3{
    text-shadow: black 1px 3px 4px;
    margin-left: -5rem;
    padding-top: 4rem;
    height: 2.5rem;
}
.cloud {
    font-size: 2rem;
    text-transform: uppercase;
    
}